body {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #ccc;
	font: 12px/20px;
}
.clearboth {
	clear: both;
}	
a {
	text-decoration: none;
}
a, a img {
	border: none;
}	
#wrapper { 
	margin: 15px auto;
	width: 800px;
	padding: 15px;
	background: #fff;
	height: 300px;
	-webkit-box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
	box-shadow: 2px 2px 3px #999;
	-webkit-border-radius: 0px 35px 0px 35px;
	-moz-border-radius: 0px 35px 0px 35px;
	border-radius: 0px 35px 0px 35px;
}
.box {
	margin-top: 12px;
	margin-right: 15px;
	float: left;
}	
.b2 {
	margin-top: 5px;
}	
a.foo {	
	padding: 5px 15px;
	color: #e8e8e8;
	font-weight: bold; 
	font-size: 18px;
	background: #9c3;
	text-shadow: 0px 1px 2px rgba(44, 17, 44, 0.7);
	-webkit-transition: background 0.5s ease, color 1s ease-in-out;
	-moz-transition: background 0.5s ease, color 0.2s linear;
	-o-transition: background 0.5s ease, color 0.2s linear;
	transition: background 0.5s ease, color 0.2s linear;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.b2 a.foo {
	-webkit-transition: all 0.1s ease;
}
a.foo:hover,
a.foo:focus {
	background: #690;
	color: #230D0D;
	color: rgba(35,14,14,0.3);
	text-shadow: none;
}	

.box-image {
	margin: 40px auto 0 auto;
	width: 191px;
}
.box-image a {
	background: url(../images/forme-alpha.png) no-repeat 0 0;
	width: 191px;
	height: 166px;
	display: block;
	text-indent: -9999em;
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft. Alpha(Opacity=10)"; /* IE 8 hack */
	filter: alpha(opacity = 10); /* IE 5-7 hack */
	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}
.box-image a:hover,
.box-image a:focus {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft. Alpha(Opacity=100)"; /* IE 8 hack */ 
	filter: alpha(opacity = 100); /* IE 5-7 hack */
}		